body{
    margin: 0 auto;
    padding: 0 0;
    background-image: url("img/background.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

#containerTop{
    width: 100%;
    height: 10%;
    text-align: center;
    border: 1px solid red;
    float:left;
}

#progressbar{
    width: 80%;
    height: 10px;
    position: relative;
    top:30%;
    margin: auto;
}

#containerMiddle{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid green;
    perspective: 800px;
}

#containerLeft{
    position: relative;
    float: left;
    text-align: center;
    width: 25%;
    height: 100%;
    border: 1px solid blue;
}

#containerRight{
    position: relative;
    float: right;
    text-align: center;
    width: 25%;
    height: 100%;
    border: 1px solid blue;
}

#container{
    margin-left:auto;
    margin-right:auto;
    width: 49%;
    height: 100%;
    border: 1px solid black;
}

#image{
    border: 15px solid green;
    border-radius: 20px;
}

#imageContainer{
    position: inherit;
    background-color: darkgrey;
    padding: 10px;
}

.foto{
    transform: rotateY( 180deg );
}

#containerKeuze{
    width: 100%;
    text-align: center;
}

.figure{
    margin: 0;
    display: block;
    position: absolute;
    width: 150px;
    height:150px;
    backface-visibility: hidden;
}

.card.flipped {
    transform: rotateY( 180deg );
}

#containerKaart{
    background-color: #E67E22;
    width: 150px;
    height: 150px;
    position: relative;
    border: 10px solid #E67E22;
    border-radius: 7px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 1s;
}

#containerFormulier{
    display: none;
    border: 1px solid red;
    width: 100%;
    position: absolute;
    text-align: center;
}

#containerRightTop, #containerLeftTop{
    height: 10%;
    border: 1px solid red
}

input,select {
    text-align: center;
    margin-top: 10px;
    width: 200px !important;
}

#title{
    margin: auto;
}

/*#titleRight,{
    position: relative;
    top: 10px;
    text-align: center!important;
}*/

.containerHighscores{
    display: block!important;
    text-align: left;
    height: 90%!important;
}

.containerScoreInformatie{
    margin-top: 20px;
}

#fotoPlaats{
    margin: 0;
    width: 150px;
    height: 150px;
}
input, select{
    border: 2px solid #D35400;
    background-color: #E67E22;
    color: #FFFFFF;
    transition-duration: 500ms;
}
input:active{
    background-color: #E67E22;
    font-weight: bolder;
    transition-duration: 500ms;

}


#terug, #opniew{
    margin: auto;
}





.tabLevels {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tabLevels button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    /*
    cursor: pointer;
    */
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
/*.tabLevels button:hover {
    background-color: #ddd;
}*/

/* Create an active/current tablink class */
.tabLevels button.active {
    background-color: #E67E22;
    color: #FFFFFF;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}